window {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 10pt;

    background-color: rgba(0, 0, 0, 0.0); /* Transparent */
    border: none;
    padding: 0;
    margin: 0;
}

#input {
    background-color: transparent;
    padding: 0;
    margin: 0;
    /* background-image: url("~/nixMine/Wallpaper/frieren.jpg"); */
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

#entry {
    padding: 0.5em;
    margin: 0.5em;
    color: #ffffff;
    background-color: transparent;
}

#entry:selected {
    background-color: rgba(100, 100, 255, 0.2);
    color: #ffffff; /* @select-fg */
}

#outer-box {
    padding: 0;
    margin: 0;
}

#scroll {
    padding: 1em 2em;
    background-color: rgba(20, 20, 20, 0.7);
}

#text {
    padding-left: 1em;
    color: #ffffff; /* @main-fg */
}

#img {
    margin-right: 1em;
    background-color: transparent;
    size: 2.2em;
}

/* Optional: error message style
#error {
    color: #ffffff;
    background-color: rgba(20, 20, 20, 0.8);
    text-transform: capitalize;
    padding: 1em;
    text-align: center;
} */

